<ion-view view-title="Home">
<ion-content>

	<h1>I am line chart.</h1>
	<canvas id="line" class="chart chart-line" 
	chart-data="data" chart-labels="labels" 
	chart-legend="true" chart-series="series">
	</canvas>

	<h1>I am bar chart.</h1>
	<canvas id="bar" class="chart chart-bar" 
		chart-data="data" chart-labels="labels" 
		chart-legend="true" chart-series="series">
	</canvas>

	<h1>I am donut chart.</h1>
	<canvas id="doughnut" class="chart chart-doughnut"
		chart-data="donut.data" chart-labels="donut.labels"
		chart-legend="true">
	</canvas>
 
</ion-content>
</ion-view>
